@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

#cards-container {
    padding-top: 50px;
}

#cards-container .row {
    margin: 0;
    padding: 0;
    font-family: 'Robot', sans-serif;
}

#cards-container .row .flash-card {
    cursor: pointer;
    padding-bottom: 30px;
}

#cards-container .row .flash-card .card-header {
    position: relative;
    padding: 30px 30px;
    text-align: center;
    height: 225px;
    min-width: 150px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #303c52;
}

#cards-container .row .card-sketch {
    padding: 20px;
    background: #ffffff;
    border: 1px solid #d7d2cc;
    font-size: 17px;
    text-align: center;
    height: 250px;
}

.card-sketch img {
    width: 100%;
    height: 100%;
}

#cards-container .row .flash-card .card-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.card-overlay {
    cursor: default;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    text-align: center;
    box-sizing: content-box;
}

.overlay-shadow {
    height: inherit;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.overlay-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 25%;
    margin: auto;
    color: #fff;
    font-size: 40px;
}


/* Gradient colors for card background */

.gcolor-1 {
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}

.gcolor-2 {
    background: #e53935;
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);
    background: linear-gradient(to right, #e35d5b, #e53935);
}

.gcolor-3 {
    background: #ff8008;
    background: -webkit-linear-gradient(to right, #ff8008, #ffc837);
    background: linear-gradient(to right, #ff8008, #ffc837);
}

.gcolor-4 {
    background: #fffc00;
    background: -webkit-linear-gradient(to right, #fffc00, #ffcc33);
    background: linear-gradient(to right, #fffc00, #ffcc33);
}

.gcolor-5 {
    background: #56ab2f;
    background: -webkit-linear-gradient(to right, #56ab2f, #a8e063);
    background: linear-gradient(to right, #56ab2f, #a8e063);
}

.gcolor-6 {
    background: #DA22FF;
    background: -webkit-linear-gradient(to right, #a044ff, #DA22FF);
    background: linear-gradient(to right, #a044ff, #DA22FF);
}

.gcolor-7 {
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
}

.gcolor-8 {
    background: #9CECFB;
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
}

.gcolor-9 {
    background: #ffefba;
    background: -webkit-linear-gradient(to right, #ffefba, #fffc00);
    background: linear-gradient(to right, #ffefba, #fffc00);
}

.gcolor-10 {
    background: #a8ff78;
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    background: linear-gradient(to right, #78ffd6, #a8ff78);
}

.gcolor-11 {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
}

.gcolor-12 {
    background: #B993D6;
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);
}

.gcolor-13 {
    background: #ffd194;
    background: -webkit-linear-gradient(to right, #70e1f5, #ffd194);
    background: linear-gradient(to right, #70e1f5, #ffd194);
}

.gcolor-14 {
    background: #45B649;
    background: -webkit-linear-gradient(to right, #DCE35B, #45B649);
    background: linear-gradient(to right, #DCE35B, #45B649);
}

.gcolor-15 {
    background: #FFD200;
    background: -webkit-linear-gradient(to right, #F7971E, #FFD200);
    background: linear-gradient(to right, #F7971E, #FFD200);
}

.gcolor-16 {
    background: #F45C43;
    background: -webkit-linear-gradient(to right, #EB3349, #F45C43);
    background: linear-gradient(to right, #EB3349, #F45C43);
}

.gcolor-17 {
    background: #1CD8D2;
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);
    background: linear-gradient(to right, #93EDC7, #1CD8D2);
}

.gcolor-18 {
    background: #b91d73;
    background: -webkit-linear-gradient(to right, #f953c6, #b91d73);
    background: linear-gradient(to right, #f953c6, #b91d73);
}
